body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-style: solid;
    border-width: 2pt;
    border-color: blueviolet;
    background-color: lavender;
}

.main-content {
    background-color: lightpink;
}

.book-title {
    font-style: italic;
}

h1 {
    color: cadetblue;
}

h2 {
    color: lightgreen;
}

a:hover {
    color: coral;
}

ul {
    list-style-type: none;
}